@import "../variables.scss";
body:has(.contributors-index) {
    background-color: $level-0-color;
}

$table-striped-bg: #ed989b;
$table-bg: #eaaeb0;

.contributors-index {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

    pre {
        text-shadow: none;
    }

    input {
        background-color: white;
    }

    select {
        background-color: white;
    }

    .table {
        border: 2px solid wheat;
        border-radius: 5px;
        --bs-table-striped-bg: #ed989b;
        --bs-table-bg: #eaaeb0;
        th, td {
            color: white;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            a {
                text-shadow: none;
            }
        }
    }

    &__level-1 {
        background-color: lighten($level-0-color, 5%);
        padding: 10px;
        border-radius: 5px;
        margin: 10px 0;
        border: 2px solid wheat;
    }

    &__level-2 {
        background-color: lighten($level-0-color, 10%);
        padding: 10px;
        border-radius: 5px;
        margin: 10px 0;
        border: 1px solid wheat;
    }
}
