.cat-index {
    margin-top: 65px;
    margin-bottom: 65px;

    &__top-button {
        width: 200px;
    }

    &__input-search {
        @media (max-width: 768px) {
            width: 200px !important;
        }
        &__button {
            @media (max-width: 768px) {
                width: 200px !important;
            }
        }
    }

    &__pagination {
        li a {
            color: #636363 !important;
            text-decoration: none;
            padding: 10px 15px;
            transition: none;
        }

        li {
            background-color: #f5f7fa;
            border: 1px solid lightslategray;
            margin: 0;
            // Do not put more padding to the sides, otherwise the clickable area will not align
            padding-bottom: 10px;
            padding-top: 10px;

            &:hover {
                background-color: #C93941;
                border-left-color: #C93941;
                border-right-color: #C93941;
                a {
                    color: white !important;
                    transition: none;
                }
            }
        }

        .active {
            background-color: #C93941;
            border-left-color: #C93941;
            border-right-color: #C93941;
            a {
                color: white !important;
            }
        }

        .last {
            border-radius: 0px 25px 25px 0px;
        }
        .first {
            border-radius: 25px 0px 0px 25px;
        }
        .prev.disabled {
            border-radius: 25px 0px 0px 25px !important;
        }
        .next.disabled {
            border-radius: 0px 25px 25px 0px !important;
        }
    }

    &__order-checkbox {
        position: relative;
        top: 25%;
        width: 20px;
        height: 20px;

        &:checked {
            background-color: #C93941;
            border: none;
        }
    }

    &__wrapper {
        width: 400px;
        height: 350px;
        margin: 0 auto;

        @media (max-width: 768px) {
            width: 350px;
            height: 300px;
        }
    }

    &__image {
        border: 1px solid black;
        border-radius: 5px 5px 0 0;
        transition: opacity 0.2s ease-in-out;

        &:hover {
            opacity: 80%;
        }

        &__footer {
            padding: 5px 10px 15px 10px;
            color: #F6FDFF;
            background-color: #C93941;
            border-radius: 0 0 5px 5px;

            &__button-a a {
                border-radius: 4px;
                text-decoration: none;
                color: #F6FDFF;
                background-color: #8f272b;
                padding: 5px;
            }

            &__button-a a:hover {
                background-color: #ff4750;
            }
        }
    }
}
