.cats-view {
    background-color: #C93941;
    &__function-name {
        font-size: 60px;
        word-break: break-word;
        overflow-wrap: break-word;
        background-color: wheat;
    }
    &__function-description {
        color: white;
    }

    &__function-examples{
        font-size: 20px;
        background-color: wheat;
        border-radius: 3px;

        &__html-segment {
            background-color: whitesmoke;
        }

        &__comment-segment {
            color: green;
        }

        pre {
            padding-left: 2px;
            font-size: 20px;
            border: none;
            background-color: unset;
            margin-bottom: 0;
        }
    }

    &__image {
    }
}
