.cats-view {
    background-color: #C93941;
    &__function-name {
        font-size: 60px;
        word-break: break-word;
        overflow-wrap: break-word;
        background-color: wheat;
    }
    &__function-description {
        color: white;
    }

    &__contributors {
        color: white;
    }

    &__break-white-spaces-button {
        all: unset;
        border: 4px double wheat;
        border-radius: 5px;
        padding: 5px;
        color: white;
        background-color: #C93941;
        transition: 0.2s background-color linear;
    }

    &__break-white-spaces-button:focus {
        background-color: #C93941;
        border: 4px double wheat;
        border-radius: 5px;
    }

    &__break-white-spaces-button.active {
        background-color: darken(#C93941, 15%);
    }

    &__break-white-spaces-button:hover {
        border: 4px double wheat;
        background-color: darken(#C93941, 15%);
    }

    &__function-examples{
        font-size: 20px;
        background-color: wheat;
        border-radius: 3px;

        &__html-segment {
            background-color: whitesmoke;
        }

        &__comment-segment {
            color: green;
        }

        &__terminal-segment {
            background-color: #1e1f22;
            color: white;
        }

        &__segment {
            ::-webkit-scrollbar {
                height: 6px;
            }
            ::-webkit-scrollbar-thumb {
                background-color: gray;
                border-radius: 6px;
                transition: 0.2s background-color linear;
            }
            ::-webkit-scrollbar-thumb:hover {
                background-color: darken(gray, 10%);
            }
        }

        &__segment.remove-scroll {
            ::-webkit-scrollbar {
                display: none;
            }
        }

        pre {
            padding-left: 2px;
            font-size: 20px;
            border: none;
            background-color: unset;
            margin-bottom: 0;
        }
    }

    &__image {
    }
}
