@import "../variables.scss";

.cats-view {
    &__function-name {
        font-size: 60px;
        word-break: break-word;
        overflow-wrap: break-word;
        background-color: wheat;
    }
    &__function-description {
        color: white;
    }

    &__contributors {
        color: white;
    }

    &__function-examples{
        overflow: hidden;
        font-size: 20px;
        background-color: wheat;
        border-radius: 3px;

        &__html-segment {
            background-color: whitesmoke;
        }

        &__comment-segment {
            color: green;
        }

        &__terminal-segment {
            background-color: #1e1f22;
            color: white;
        }

        &__segment {
            ::-webkit-scrollbar {
                height: 6px;
            }
            ::-webkit-scrollbar-thumb {
                background-color: gray;
                border-radius: 6px;
                transition: 0.2s background-color linear;
            }
            ::-webkit-scrollbar-thumb:hover {
                background-color: darken(gray, 10%);
            }
        }

        &__segment.remove-scroll {
            ::-webkit-scrollbar {
                display: none;
            }
        }

        pre {
            padding-left: 2px;
            font-size: 20px;
            border: none;
            background-color: unset;
            margin-bottom: 0;
        }
    }

    &__image {
    }

    &__level-2 {
        background-color: lighten($level-0-color, 10%);
        padding: 10px;
        border-radius: 5px;
        margin: 10px 0;
        border: 1px solid wheat;
    }
}
