@import "../variables";
.cats-help {

    &__level-1 {
        background-color: lighten($level-0-color, 5%);
        padding: 10px;
        border-radius: 5px;
        margin: 10px 0;
        border: 2px solid wheat;
    }
    &__level-2 {
        background-color: lighten($level-0-color, 10%);
        padding: 10px;
        border-radius: 5px;
        margin: 10px 0;
        border: 2px solid wheat;
    }

    &__text {
        font-size: 20px;
    }
}
